table {
  width: 520px;
  border: 2px solid gray;
}

.item {
  text-align: center;
  padding: 2px;
  font-size: 18px;
}

.item:first-letter {
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}

th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: cadetblue;
}
